{% extends 'landingPage/base.html' %}

{% block title %}Главная страница{% endblock %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main-style.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <p>loremsefgsdgsdg sDG rg aergherhesrhloremsefgsdgsdg sDG rg aergherhesrhloremsefgsdgsdg
        sDG rg aergherhesrhloremsefgsdgsdg sDG rg aergherhesrhloremsefgsdgsdg sDG rg aergherhesrhloremsefgsdgsdg
        sDG rg aergherhesrhloremsefgsdgsdg sDG rg aergherhesrh
    sDG rg aergherhesrhloremsefgsdgsdg sDG rg aergherhesrhloremsefgsdgsdg sDG rg aergherhesrhloremsefgsdgsdg
        sDG rg aergherhesrhloremsefgsdgsdg sDG rg aergherhesrh
    </p>

{% endblock %}
