{% extends 'userCabinet/base.html' %}

    {% block title %}Осложнения при болезни Паркинсона{% endblock %}

    {% load static %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/user-menu.css' %}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/symptoms-page/symptoms-treatment.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
    <style>
        #second_item_main_menu {
            background-color: #e5e3e3;
        }
        .submenu-knowledge-base-item:nth-child(3) {
            background-color: #E0E0E0;
            border: 2px solid lightgray;
        }
    </style>
    {% endblock %}

    {% block main %}
    <section class="main-block-page"><h1>Осложнения при Болезни Паркинсона</h1>
        <ul class="list mainBlockList">
            <li class="item mainBlockList-item"><a href="#firstBlock" class="link mainBlockList-link">Осложнения самого заболевания</a> </li>
            <li class="item mainBlockList-item"><a href="#secondBlock" class="link mainBlockList-link">Осложнения лечения</a></li>
        </ul>
    </section>
    <section class="description-main-content">
        <div class="block-list-description firstBlock" id="firstBlock">
            <h3>Осложнения самого заболевания</h3>
            <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptates, magni explicabo dolor exercitationem, consequuntur temporibus iure delectus placeat nihil enim atque? Esse odit magni quos! Eveniet tempore in eaque quaerat dignissimos! Quidem veniam, saepe consectetur numquam adipisci ipsa quo ex fugit impedit laudantium dolorem! Natus beatae voluptatem similique cum maiores sequi quidem voluptatum odit obcaecati. Dolore, fuga ut vel at facilis eaque reiciendis inventore sequi iste unde velit, rem animi assumenda eligendi tempora possimus voluptates reprehenderit eveniet, neque doloremque. Hic quo nemo maiores, inventore cupiditate labore, nihil excepturi amet dolorum impedit fugiat consequuntur architecto.
            </p>
            <ul>
                <li>Фармокология</li>
                <li>Аптечные средства</li>
                <li>Внутривенные препараты</li>
            </ul>
            <p>
            Nisi, praesentium qui nam magni ratione, reiciendis harum delectus nemo molestias consequuntur expedita beatae ullam explicabo, reprehenderit laborum recusandae deserunt dignissimos sit! Incidunt officia at voluptate! Alias, vero magnam? Cum necessitatibus harum corporis quae obcaecati doloremque inventore ut dignissimos sit iusto adipisci sapiente magni, illum amet aut maiores eum cumque, id, eligendi consequuntur nulla iure. Repudiandae at eveniet iure modi debitis rerum a rem recusandae deleniti aperiam, nisi libero minus, fugit voluptatum id suscipit ut mollitia? Autem illo praesentium incidunt molestias laborum nesciunt, officia cum dolorum maxime temporibus adipisci, quos fuga sunt obcaecati, neque nihil ratione ducimus aut est doloremque suscipit? Alias sed cupiditate explicabo.
            </p>

            <img src="../../img/n1.jpg" alt="Norway" class="first-img">
            <img src="../../img/n2.jpg" alt="Norway" class="second-img">
            <img src="../../img/n3.jpg" alt="Norway" class="third-img">
        </div>
        <div class="block-list-description secondBlock" id="secondBlock">
            <h2>Осложнения лечения</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia eos, similique facere, alias veniam error ullam ducimus libero ipsum, nihil molestiae quasi blanditiis cumque praesentium voluptatum eligendi at! Alias doloribus laudantium voluptatem maxime id atque sint mollitia velit voluptate ut possimus laboriosam cupiditate ab odit aliquid quis commodi sit corporis, eum eius explicabo ratione expedita nulla dolore. Nulla impedit ea voluptate quam? Distinctio illum voluptas fugit, cumque quasi nostrum maiores a accusamus ducimus provident quaerat labore est perspiciatis officiis ratione minima corrupti amet exercitationem iusto laudantium obcaecati, dolor eius. Repudiandae a temporibus quasi totam aliquam quam eveniet aut, impedit amet.</p>
            <img src="../../img/n1.jpg" alt="Norway" class="first-img">
            <img src="../../img/n2.jpg" alt="Norway" class="second-img">
            <img src="../../img/n3.jpg" alt="Norway" class="third-img">
        </div>
    </section>
    <img src="{% static 'img/arrow-up.ico' %}" alt="" height="40px" width="40px" id="arrowUp">
    {% endblock %}

    {% block script %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'Js/color-menu/symptoms-menu-color.js' %}"></script>
    <script src="{% static 'Js/color-menu/general-color-menu.js' %}"></script>
    <script src="{% static 'Js/arrow-up.js' %}"></script>
    {% endblock %}
