@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.main-block-page {
    width: 80%;
    border-bottom: lightgray 1px solid;
    margin-bottom: 20px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 10px;
}

/*---------------------------------------------------Свойства списка и элементов-----------------------*/
.mainBlockList {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;

    line-height: 2em;
}

.item {
    list-style-type: none;
}

.mainBlockList-link {
    color:rgb(110, 179, 202);
    font-size: 18px;
}

.mainBlockList-link:hover{
    text-decoration: none;
    color:rgb(79, 151, 175);
}

/*---------------------------------------------------Свойства списка и элементов-----------------------*/

/*---------------------------------------------------Свойства блока с контентом и элементов-----------------------*/

.description-main-content {
    margin-top: 40px;
    width: 70%;
    padding: 10px;
    background-color: #ecf0f1;
}

.block-list-description {
    padding: 20px;
    margin-bottom: 10px;
    background-color: white;
    
}

.block-list-description:last-child {
    margin-bottom: 0;    
}

.second-img {
    margin-right: 159px;
    margin-left: 159px;
}

/*---------------------------------------------------Свойства блока с контентом и элементов-----------------------*/