<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Симптомы болезни Паркинсона</title>
    <link rel="stylesheet" href="../../css/user-menu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/symptoms-page/symptoms-style.css">
    <link rel="shortcut icon" href="../../img/favicon/favicon.ico">
    <style>
        #second_item_main_menu {
            background-color: #e5e3e3;
        }

        .submenu-knowledge-base-item:nth-child(1) {
            background-color: #E0E0E0;
            border: 2px solid lightgray;
        }
    </style>
</head>
<body>
    <menu class="vertical-menu">
        <li class="menu-v-item" id="first_item_main_menu">
            <img src="../../img/profile.jpg" alt="" width="100%" height="80px">
        </li>
        <li class="menu-v-item" id="second_item_main_menu">
            <img src="../../img/traning.svg" alt="" width="50px" height="50px">
        </li>
        <li class="menu-v-item" id="third_item_main_menu">
            <img src="../../img/calendar.svg" alt="" width="50px" height="50px">
        </li>
        <li class="menu-v-item" id="fourth_item_main_menu">
            <img src="../../img/message.svg" alt="" width="50px" height="50px">
        </li>
        <li class="menu-v-item" id="fifth_item_main_menu">
            <img src="../../img/message.svg" alt="" width="50px" height="50px">
        </li>    
    </menu>
    <div class="submenu-profile-block" id="submenu-profile-block">
        <h2>Профиль</h2>
        <ul class="sb-menu submenu-profile">
            <li class="submenu-profile-item"><a href="../profile/user-main-profile-page.html" class="sb-link submenu-profile-link">Тут хз</a></li>
        </ul>
    </div>
    <div class="submenu-knowledge-base-block" id="submenu-knowledge-base-block">
        <h2>База знаний по <br> болезни Паркинсона</h2>
        <ul class="sb-menu submenu-knowledge-base">
            <li class="submenu-knowledge-base-item"><a href="" class="sb-link submenu-knowledge-base-link">Симптомы</a></li>
            <li class="submenu-knowledge-base-item"><a href="know-base-treatment-page.html" class="sb-link submenu-knowledge-base-link">Лечение</a></li>
            <li class="submenu-knowledge-base-item"><a href="know-base-complications-page.html" class="sb-link submenu-knowledge-base-link">Осложнения</a></li>
            <li class="submenu-knowledge-base-item"><a href="know-base-attention-page.html" class="sb-link submenu-knowledge-base-link">На что нужно <br> обратить внимание</a></li>
        </ul>
    </div>
    <div class="submenu-traning-block" id="submenu-traning-block">
        <h2>Обучение</h2>
        <ul class="sb-menu submenu-traning">
            <li class="submenu-traning-item"><a href="../traning/traning-execution-rules.html" class="sb-link submenu-traning-link">Правила выполнения упражнений</a></li>
            <li class="submenu-traning-item"><a href="../traning/traning-general-exercises.html" class="sb-link submenu-traning-link">Общие упражнения</a></li>
            <li class="submenu-traning-item"><a href="../traning/traning-balance-exercises.html" class="sb-link submenu-traning-link">Упражнения на баланс</a></li>
            <li class="submenu-traning-item"><a href="../traning/traning-freezing-walk.html" class="sb-link submenu-traning-link">Как справиться с «заморозкой ходьбы»</a></li>
            <li class="submenu-traning-item"><a href="../traning/traning-private-exerceses.html" class="sb-link submenu-traning-link">Частные упражнения</a></li>
        </ul>
    </div>
    <div class="submenu-memory-training-block" id="submenu-memory-training-block">
        <h2>Тренировка памяти</h2>
        <ul class="sb-menu submenu-memory-training">
            <li class="submenu-memory-training-item"><a href="../memory/memory-main.html" class="sb-link submenu-memory-training-link">Упражнения на память</a></li>
        </ul>
    </div>
    <div class="submenu-feedback-block" id="submenu-feedback-block">
        <h2>Обратная связь</h2>
        <ul class="sb-menu submenu-feedback">
            <li class="submenu-feedback-item"><a href="../feedback/feedback-main.html" class="sb-link submenu-feedback-link">Напишите нам ваши пожелания и мы с вами свяжемся</a></li>
        </ul>
    </div>

    <main id="main">
        <section class="main-block-page">
            <h1>Болезнь Паркинсона</h1>
            <p class="description-main-block">
            Болезнь Паркинсона - медленно прогрессирующее хроническое нейродегенеративное неврологическое заболевание, характерное для лиц старшей возрастной группы. Относится к дегенеративным заболеваниям экстрапирамидной моторной системы. Вызвано прогрессирующим разрушением и гибелью нейронов, вырабатывающих нейромедиатор дофамин, — прежде всего в чёрной субстанции, а также и в других отделах центральной нервной системы. Недостаточная выработка дофамина ведёт к активирующему влиянию базальных ганглиев на кору головного мозга.
            </p>
        </section>
        
        <section class="main-content">
            <section class="motor-symptoms">
                <h2>Симптомы двигательные</h2>
                <dl class="list-value">
                    <details>
                        <summary><dt title="Нажмите для просмотра описания">Регидность</dt></summary>
                        <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta pariatur, esse perferendis labore tenetur culpa similique illo officiis accusamus quos vel eos commodi ipsa aliquam ut unde id corporis molestiae, recusandae quod cupiditate. Incidunt illo sed voluptate aliquam ullam et.
                        </dd>
                    </details>
                    <details>
                        <summary><dt>Брадишенция</dt></summary>
                        <dd>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo deserunt quam beatae dignissimos asperiores? Voluptatem, ullam facilis quam error fugiat perspiciatis aliquid tenetur dignissimos temporibus, rerum vel, earum nulla eum et. Eius, sed! Doloribus animi ad omnis placeat quis soluta ducimus sapiente rerum temporibus repellat voluptas nesciunt, nisi ipsa dolorum.</dd>
                    </details>
                    <details>
                        <summary><dt>Тремор покоя</dt></summary>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit atque et autem voluptate, molestiae molestias id consequuntur neque magni quis ratione temporibus quibusdam quisquam facere cum laborum perspiciatis praesentium ipsum delectus expedita earum vero quasi quas? Dolorem, pariatur, ipsa commodi hic quisquam eos iste facilis eaque dolore, earum nihil. Nam ratione porro perferendis deleniti deserunt cum reprehenderit eveniet iste eos.</dd>
                    </details>
                    <details>
                        <summary><dt>Определение_1</dt></summary>
                        <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum vel commodi numquam animi molestiae, fugiat modi officiis! Voluptatum quam quidem accusantium aspernatur iste minima ea labore! Nemo, ex? Expedita, numquam?</dd>
                    </details>
                    <details>
                        <summary><dt>Определение_2</dt></summary>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, nobis?</dd>
                    </details>
                    <details>
                        <summary><dt>Определение_3</dt></summary>
                        <dd>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati blanditiis repellat ut vel voluptas quaerat magni suscipit porro atque enim, laborum omnis necessitatibus perferendis doloribus modi consequatur impedit officiis voluptatem at aliquam velit ullam assumenda tenetur officia. Repellat rerum necessitatibus quia similique, eligendi placeat ea debitis amet dicta sint, odio, enim omnis dolorum nesciunt ducimus! Neque dignissimos sit molestias! Non ex accusamus necessitatibus similique voluptatibus quaerat deserunt aperiam commodi, vitae deleniti. Repudiandae tenetur, veritatis in suscipit soluta officiis saepe pariatur voluptates animi cum ut adipisci impedit aut qui sapiente quisquam ratione? Accusamus sit expedita similique aliquid laboriosam modi sed unde.</dd>
                    </details>
                    
                </dl>
            </section>
            <section class="not-motor-symptoms">
                <h2>Симптомы не двигательные</h2>
                <dl class="list-value">
                    <details>
                        <summary><dt>Определение_1</dt></summary>
                        <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta pariatur, esse perferendis labore tenetur culpa similique illo officiis accusamus quos vel eos commodi ipsa aliquam ut unde id corporis molestiae, recusandae quod cupiditate. Incidunt illo sed voluptate aliquam ullam et.</dd>
                    </details>
                    <details><summary><dt>Определение_2</dt></summary>
                        <dd>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo deserunt quam beatae dignissimos asperiores? Voluptatem, ullam facilis quam error fugiat perspiciatis aliquid tenetur dignissimos temporibus, rerum vel, earum nulla eum et. Eius, sed! Doloribus animi ad omnis placeat quis soluta ducimus sapiente rerum temporibus repellat voluptas nesciunt, nisi ipsa dolorum.</dd>
                    </details>
                    <details>
                        <summary><dt>Определение_3</dt></summary>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit atque et autem voluptate, molestiae molestias id consequuntur neque magni quis ratione temporibus quibusdam quisquam facere cum laborum perspiciatis praesentium ipsum delectus expedita earum vero quasi quas? Dolorem, pariatur, ipsa commodi hic quisquam eos iste facilis eaque dolore, earum nihil. Nam ratione porro perferendis deleniti deserunt cum reprehenderit eveniet iste eos.</dd>
                    </details>
                    <details><summary><dt>Определение_4</dt></summary>
                        <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum vel commodi numquam animi molestiae, fugiat modi officiis! Voluptatum quam quidem accusantium aspernatur iste minima ea labore! Nemo, ex? Expedita, numquam?</dd>
                    </details>
                    <details>
                        <summary><dt>Определение_5</dt></summary>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, nobis?</dd>
                    </details>
                    <details>
                        <summary><dt>Определение_6   </dt></summary>
                        <dd>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati blanditiis repellat ut vel voluptas quaerat magni suscipit porro atque enim, laborum omnis necessitatibus perferendis doloribus modi consequatur impedit officiis voluptatem at aliquam velit ullam assumenda tenetur officia. Repellat rerum necessitatibus quia similique, eligendi placeat ea debitis amet dicta sint, odio, enim omnis dolorum nesciunt ducimus! Neque dignissimos sit molestias! Non ex accusamus necessitatibus similique voluptatibus quaerat deserunt aperiam commodi, vitae deleniti. Repudiandae tenetur, veritatis in suscipit soluta officiis saepe pariatur voluptates animi cum ut adipisci impedit aut qui sapiente quisquam ratione? Accusamus sit expedita similique aliquid laboriosam modi sed unde.</dd>
                    </details>
                    
                </dl>
            </section>
            <img src="../../img/arrow-up.ico" alt="" height="40px" width="40px" id="arrowUp">
            
    </main>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../Js/color-menu/symptoms-menu-color.js"></script>
    <script src="../../Js/color-menu/general-color-menu.js"></script>
    <script src="../../Js/arrow-up.js"></script>
</body>
</html>