@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

header {
    margin-bottom: 15px;
}

menu div.row {
    height: 50px;
}

menu {
    background-color: #2c3e50;
    height: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-list-item {
    list-style-type: none;
    display: inline;
}

.main-list-item a {
    color: white;
}

.main-list-item a:hover {
    text-decoration: none;
    color: orange;
}

#form-sign-block {
    display: none;
    position: relative;
    z-index: 10;
}


h2 {
    cursor: help;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 3px solid #lightgray;
    font-size: 5px;
    margin-top: 10px;
}

form {
position: relative;

    margin: 0 auto;
    padding: 20px;

    width: 480px;
    height: 4   00px;

    background-color: #f5f9fc;
    border-radius: 15px;

    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

.group {
    margin: 10px;
    padding: 5px;
}

label {
    padding-left: 10px;
    font-size: 18px;
}

input {
    margin-top: 10px;
    height: auto;
    width: 400px;

    border-radius: 20px;
    border: none;
    outline: none;

    padding-left: 15px;
    font-size: 18px;

    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

input:focus {
    border: 2px solid #f0c5c2;
    transform: translateX(15px);
    width: 385px;
}

button {
    cursor: pointer;
    padding: 10px 30px;

    height: 55px;
    width: 150px;

    background-color: white;
    border-radius: 103px !important;
    border: none;
    outline: none;
    
    
    text-transform: uppercase;
    font-size: 15px;

    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

button:hover,
button:active,
button:focus {
    font-weight: bold;
    opacity: .80;
    transform: scale(1.1);

    border:none !important;
    outline: none !important;
}

img {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}