body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
/*-------------------------------------------- Стили для меню ---------------------------------------------*/
menu {
    position: fixed;

    background-color: #2c3e50;
    margin: 0;
    padding: 0; 

    width: 80px;
    height: 100%;

    text-align: center;
    z-index: 11;
}

main {
    padding-left: 110px;
    height: 100%;
}
/*-------------------------------------------- Стили для меню ---------------------------------------------*/
/*----------------------------------Стрелка вверх ---------------------------------------------*/
#arrowUp {
    visibility: hidden;
    position: fixed;
    right: 60px;
    bottom: 60px;

    cursor: pointer;
}
/*----------------------------------Стрелка вверх ---------------------------------------------*/

/*-------------------------------------свойства для меню элементов списка--------------------------------- */


.menu-v-item {
    text-decoration: none;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-v-item:first-child {
    padding-bottom: 0;
    padding-top: 0;
}

/*-------------------------------------свойства для меню элементов списка--------------------------------- */

/*----------------------------------*свойства для меню ссылок ---------------------------------------------*/

.menu-v-item:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #34495e;
}

.sb-menu .sb-link:hover {
    text-decoration: none;
}
/*----------------------------------*свойства для меню ссылок ---------------------------------------------*/

/*Субменю профиль ----------------------------------------------------------------*/
.submenu-profile-block {
    display: none;

    position: fixed;

    width: 210px;

    left: 80px;
    height: 100%;

    background-color:#f0f0f0;
    z-index: 11;

}

.submenu-profile-block h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #7f8c9a;
    font-size: 16px;
}

.submenu-profile {
    padding: 0;
    margin: 0;
}

.submenu-profile-item {
    list-style-type: none;
    
}

.submenu-profile-link {
    display: block;

    padding-right: 15px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    height: 100%;
    
    color: #34495e;
}

.submenu-profile-link:hover {
    background-color: #d4d4d4;
    color: #34495e;
}

/*Субменю база знаний по болезни «Паркинсона» ----------------------------------------------------------------*/
.submenu-knowledge-base-block {
    display: none;

    position: fixed;

    width: 210px;

    left: 80px;
    height: 100%;

    background-color:#f0f0f0;
    z-index: 11;

}

.submenu-knowledge-base-block h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #7f8c9a;
    font-size: 16px;
}

.submenu-knowledge-base {
    padding: 0;
    margin: 0;
}

.submenu-knowledge-base-item {
    list-style-type: none;
    
}

.submenu-knowledge-base-link {
    display: block;

    padding-right: 15px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    height: 100%;
    
    color: #34495e;
}

.submenu-knowledge-base-link:hover {
    background-color: #e0e0e073;
    color: #34495e;
}

/*Субменю Обучение ----------------------------------------------------------------*/
.submenu-traning-block {
    display: none;

    position: fixed;

    width: 210px;

    left: 80px;
    height: 100%;

    background-color:#f0f0f0;
    z-index: 11;

}

.submenu-traning-block h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #7f8c9a;
    font-size: 16px;
}

.submenu-traning {
    padding: 0;
    margin: 0;
}

.submenu-traning-item {
    list-style-type: none;
    
}

.submenu-traning-link {
    display: block;

    padding-right: 15px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    height: 100%;
    
    color: #34495e;
}

.submenu-traning-link:hover {
    background-color: #E0E0E0;
    color: #34495e;
}

/*Субменю тренировка памяти ----------------------------------------------------------------*/
.submenu-memory-training-block {
    display: none;

    position: fixed;

    width: 210px;

    left: 80px;
    height: 100%;

    background-color:#f0f0f0;
    z-index: 11;

}

.submenu-memory-training-block h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #7f8c9a;
    font-size: 16px;
}

.submenu-memory-training {
    padding: 0;
    margin: 0;
}

.submenu-memory-training-item {
    list-style-type: none;
    
}

.submenu-memory-training-link {
    display: block;

    padding-right: 15px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    height: 100%;
    
    color: #34495e;
}

.submenu-memory-training-link:hover {
    background-color: #E0E0E0;
    color: #34495e;
}

/*Субменю обратная связь ----------------------------------------------------------------*/
.submenu-feedback-block {
    display: none;

    position: fixed;

    width: 210px;

    left: 80px;
    height: 100%;

    background-color:#f0f0f0;
    z-index: 11;

}

.submenu-feedback-block h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #7f8c9a;
    font-size: 16px;
}

.submenu-feedback {
    padding: 0;
    margin: 0;
}

.submenu-feedback-item {
    list-style-type: none;
    
}

.submenu-feedback-link {
    display: block;
    padding-right: 15px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;

    height: 100%;
    width: 100%;
    
    color: #34495e;
}

.submenu-feedback-link:hover {
    background-color: #E0E0E0;
    color: #34495e;
}