<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Осложнения при болезни Паркинсона</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user-menu.css' %}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/symptoms-page/symptoms-treatment.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
    <style>
        #second_item_main_menu {
            background-color: #e5e3e3;
        }
        .submenu-knowledge-base-item:nth-child(3) {
            background-color: #E0E0E0;
            border: 2px solid lightgray;
        }
    </style>
</head>
<body>
    <menu class="vertical-menu">
        <li class="menu-v-item" id="first_item_main_menu">
            <img src="{% static 'img/profile.jpg' %}" alt="картинка не отображается" width="100%" height="80px">
        </li>
        <li class="menu-v-item" id="second_item_main_menu">
            <img src="{% static 'img/traning.svg' %}" alt="" width="50px" height="50px">
        </li>
        <li class="menu-v-item" id="third_item_main_menu">
            <img src="{% static 'img/calendar.svg' %}" alt="" width="50px" height="50px">
        </li>
        <li class="menu-v-item" id="fourth_item_main_menu">
            <img src="{% static 'img/message.svg' %}" alt="" width="50px" height="50px">
        </li>
        <li class="menu-v-item" id="fifth_item_main_menu">
            <img src="{% static 'img/message.svg' %}" alt="" width="50px" height="50px">
        </li>
    </menu>
    <div class="submenu-profile-block" id="submenu-profile-block">
        <h2>Профиль</h2>
        <ul class="sb-menu submenu-profile">
            <li class="submenu-profile-item"><a href="{% url 'profilePage' %}" class="sb-link submenu-profile-link">Тут хз</a></li>
        </ul>
    </div>
    <div class="submenu-knowledge-base-block" id="submenu-knowledge-base-block">
        <h2>База знаний по <br> болезни Паркинсона</h2>
        <ul class="sb-menu submenu-knowledge-base">
            <li class="submenu-knowledge-base-item"><a href="{% url 'symptomsSymptoms' %}" class="sb-link submenu-knowledge-base-link">Симптомы</a></li>
            <li class="submenu-knowledge-base-item"><a href="{% url 'symptomsTreatment' %}" class="sb-link submenu-knowledge-base-link">Лечение</a></li>
            <li class="submenu-knowledge-base-item"><a href="{% url 'symptomsComplications' %}" class="sb-link submenu-knowledge-base-link">Осложнения</a></li>
            <li class="submenu-knowledge-base-item"><a href="{% url 'symptomsAttention' %}" class="sb-link submenu-knowledge-base-link">На что нужно <br> обратить внимание</a></li>
        </ul>
    </div>
    <div class="submenu-training-block" id="submenu-training-block">
        <h2>Обучение</h2>
        <ul class="sb-menu submenu-training">
            <li class="submenu-training-item"><a href="{% url 'trainingRules' %}" class="sb-link submenu-training-link">Правила выполнения упражнений</a></li>
            <li class="submenu-training-item"><a href="{% url 'trainingGeneral' %}" class="sb-link submenu-training-link">Общие упражнения</a></li>
            <li class="submenu-training-item"><a href="{% url 'trainingBalance' %}" class="sb-link submenu-training-link">Упражнения на баланс</a></li>
            <li class="submenu-training-item"><a href="{% url 'trainingFreezingWalk' %}" class="sb-link submenu-training-link">Как справиться с «заморозкой ходьбы»</a></li>
            <li class="submenu-training-item"><a href="{% url 'trainingPrivate' %}" class="sb-link submenu-training-link">Частные упражнения</a></li>
        </ul>
    </div>
    <div class="submenu-memory-training-block" id="submenu-memory-training-block">
        <h2>Тренировка памяти</h2>
        <ul class="sb-menu submenu-memory-training">
            <li class="submenu-memory-training-item"><a href="{% url 'memoryMain' %}" class="sb-link submenu-memory-training-link">Упражнения на память</a></li>
        </ul>
    </div>
    <div class="submenu-feedback-block" id="submenu-feedback-block">
        <h2>Обратная связь</h2>
        <ul class="sb-menu submenu-feedback">
            <li class="submenu-feedback-item"><a href="{% url 'feedback' %}" class="sb-link submenu-feedback-link">Напишите нам ваши пожелания и мы с вами свяжемся</a></li>
        </ul>
    </div>

    <main id="main">
        <section class="main-block-page"><h1>Осложнения при Болезни Паркинсона</h1>
            <ul class="list mainBlockList">
                <li class="item mainBlockList-item"><a href="#firstBlock" class="link mainBlockList-link">Осложнения самого заболевания</a> </li>
                <li class="item mainBlockList-item"><a href="#secondBlock" class="link mainBlockList-link">Осложнения лечения</a></li>
            </ul>
        </section>
        <section class="description-main-content">
            <div class="block-list-description firstBlock" id="firstBlock">
                <h3>Осложнения самого заболевания</h3>
                <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia voluptates, magni explicabo dolor exercitationem, consequuntur temporibus iure delectus placeat nihil enim atque? Esse odit magni quos! Eveniet tempore in eaque quaerat dignissimos! Quidem veniam, saepe consectetur numquam adipisci ipsa quo ex fugit impedit laudantium dolorem! Natus beatae voluptatem similique cum maiores sequi quidem voluptatum odit obcaecati. Dolore, fuga ut vel at facilis eaque reiciendis inventore sequi iste unde velit, rem animi assumenda eligendi tempora possimus voluptates reprehenderit eveniet, neque doloremque. Hic quo nemo maiores, inventore cupiditate labore, nihil excepturi amet dolorum impedit fugiat consequuntur architecto.
                </p>
                <ul>
                    <li>Фармокология</li>
                    <li>Аптечные средства</li>
                    <li>Внутривенные препараты</li>
                </ul>
                <p>
                Nisi, praesentium qui nam magni ratione, reiciendis harum delectus nemo molestias consequuntur expedita beatae ullam explicabo, reprehenderit laborum recusandae deserunt dignissimos sit! Incidunt officia at voluptate! Alias, vero magnam? Cum necessitatibus harum corporis quae obcaecati doloremque inventore ut dignissimos sit iusto adipisci sapiente magni, illum amet aut maiores eum cumque, id, eligendi consequuntur nulla iure. Repudiandae at eveniet iure modi debitis rerum a rem recusandae deleniti aperiam, nisi libero minus, fugit voluptatum id suscipit ut mollitia? Autem illo praesentium incidunt molestias laborum nesciunt, officia cum dolorum maxime temporibus adipisci, quos fuga sunt obcaecati, neque nihil ratione ducimus aut est doloremque suscipit? Alias sed cupiditate explicabo.
                </p>

                <img src="../../img/n1.jpg" alt="Norway" class="first-img">
                <img src="../../img/n2.jpg" alt="Norway" class="second-img">
                <img src="../../img/n3.jpg" alt="Norway" class="third-img">
            </div>
            <div class="block-list-description secondBlock" id="secondBlock">
                <h2>Осложнения лечения</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia eos, similique facere, alias veniam error ullam ducimus libero ipsum, nihil molestiae quasi blanditiis cumque praesentium voluptatum eligendi at! Alias doloribus laudantium voluptatem maxime id atque sint mollitia velit voluptate ut possimus laboriosam cupiditate ab odit aliquid quis commodi sit corporis, eum eius explicabo ratione expedita nulla dolore. Nulla impedit ea voluptate quam? Distinctio illum voluptas fugit, cumque quasi nostrum maiores a accusamus ducimus provident quaerat labore est perspiciatis officiis ratione minima corrupti amet exercitationem iusto laudantium obcaecati, dolor eius. Repudiandae a temporibus quasi totam aliquam quam eveniet aut, impedit amet.</p>
                <img src="../../img/n1.jpg" alt="Norway" class="first-img">
                <img src="../../img/n2.jpg" alt="Norway" class="second-img">
                <img src="../../img/n3.jpg" alt="Norway" class="third-img">
            </div>
        </section>
        <img src="{% static 'img/arrow-up.ico' %}" alt="" height="40px" width="40px" id="arrowUp">
    </main>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'Js/color-menu/symptoms-menu-color.js' %}"></script>
    <script src="{% static 'Js/color-menu/general-color-menu.js' %}"></script>
    <script src="{% static 'Js/arrow-up.js' %}"></script>
</body>
</html>